<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Tìm kiếm</label>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập email">
    
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>